.header-color{
  /* fallback for old browsers */
  background: #5433FF;  
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to left, #A5FECB, #20BDFF, #5433FF); 
   /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to left, #A5FECB, #20BDFF, #5433FF); 
}

.Home-grid{
  /* fallback for old browsers */
  background: #5433FF;  
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to left, #A5FECB, #20BDFF, #5433FF); 
   /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to left, #A5FECB, #20BDFF, #5433FF); 
  text-align: center;

}
.self-Image{
  border-radius: 50px;
  height: 400px;
  width: 400px;
}

.imgTxt{
  background-color:  black;
  opacity: .9;
  width: 75%;
  margin: auto;
  border-radius: 15px;
}

.imgTxt h1{
  font-weight: bold;
  color: white;
}
.imgTxt hr{
  border-top: 5px dotted white;
  margin: auto;
}

.imgTxt p {
  color: white;
  font-size: 20px;
  padding: 1em;
  align-items: center;
}

.social-links{
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
}

.social-links i{
  color: white;
  font-size: 5em;
  padding: 8px;
}